# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Expo
.expo/
.expo-shared/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Local databases
db.sqlite3
echopay.db
